.form-block{
    margin: 20px auto;
    width: 40%;
}

.inner-box{
    display: flex;
    flex-flow: column;
    border: 1px solid black;
    box-shadow: 2px -2px 2px black;
    padding: 10px;
}

legend{
    margin-bottom: 2em;
}

label{
    display: block;
}

input[type="radio"],
input[type="checkbox"]{
    display: inline-block;
}


/*Bottons style*/
.btn-clean{
    display: inline-block;
    background-color: transparent;
    border: none;
    /*width: 20px;
    height: 20px;
    background-color: dimgrey;*/
    text-align: center;

}
.btn-clean:after{
    content: "×";
    color: dimgrey;
    font-size: 1.6em;

}


.required{
    color: #edff5e;
}

.send-status{

}

.progress{
    display: block;
}
.progress:after{
    content: "Sending...";
}



.susses{
    display: none;
    width: 40%;
    background-color: darkolivegreen;
}
